[user]
	name = cat neko.nya
	email = mail@example.com
[alias]
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %C(blue)%cn %C(red)%d %Creset%s'
	grapha = log --graph --date=short --decorate=short --all --pretty=format:'%Cgreen%h %Creset%cd %C(blue)%cn %C(red)%d %Creset%s'
	pushsuo = push --set-upstream origin
